<script>
  $(document).ready(function() {
    $('#competitions').dataTable();
  } );
</script>

<p id="notice"><%= notice %></p>

<h1>Competitions</h1>

<table id='competitions' class="table table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Left time</th>
      <th>Participants number</th>
      <th>Details</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @competitions.each do |competition| %>
      <tr>
        <td><%= image_tag competition.image_url.to_s, width: 100, height: 100 %></td>
        <td width="200"><%= competition.name %></td>
        <td><%= competition.left_time.strftime("%H:%M") %></td>
        <td><%= competition.participants_number %></td>
        <td width="400"><%= competition.details %></td>
        <td width="100">
          <%= link_to 'Detail', competition, class: "btn btn-success", style: "padding: 5px; color: #fff;  margin: 5px;" %> <br>
          <% if current_user.present? && current_user.role == "admin" %>
          <%= link_to 'Destroy', competition, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", style: "padding: 5px; color: #fff; margin: 5px;" %>
            <%= link_to 'Edit', edit_competition_path(competition), class: "btn btn-info", style: "padding: 5px; color: #fff; margin: 5px;" %> <br>
          <% else %>
            <a href="/join_competitions/<%= competition.id %>", class="btn btn-info", style="padding: 5px; color: #fff; margin: 5px;">Join this competition</a> <br>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
