<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div style="text-align: center;">
        <%= image_tag('logos/logo.png', :class => 'style_logo')%><strong>E-Competition</strong>
      </div>
    </div>
    <div class="container">
      <div class="row">
         <nav class="navbar navbar-head">
           <div class="container">
          		<div class="collapse navbar-collapse" id="navbar">
          			<ul class="nav navbar-nav navbar-left">
          				<li class="active"><a href="/">Home</a></li>
          				<li><a href="/competitions">Competitions</a></li>
                  <% if current_user.present? && current_user.role =='admin'%>
                  <li><a href="/competitions/new">Host a Competition</a></li>
                  <%end%>
          			</ul>
                <ul class="nav navbar-nav navbar-right">
                  <% if current_user.present?%>
                    <li style="line-height: 4; margin-top: -1px;">Hello: <%= current_user.firstname%></li>
                    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                  <%else%>
                    <li><%= link_to "Sign in", '/users/sign_in' %></li>
                  <%end%>
                </ul>
          		</div>
          	</div>
        </nav>
      </div>
    </div>

    <div class="container">
    <%= yield %>
    </div>
    <%= render "layouts/footer"%>
    <% debug(params) if Rails.env.development?%>
  </body>
</html>
